html, body {
    height:100%;
    padding:0px;
    margin:0%;
    font-family: "montserrat";   
}
a{
    cursor:pointer;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./images/body-background.png");
    opacity: 0.1;  /* Ustawienie przezroczystoci obrazu */
    z-index: -1;   /* Upewnij si, 偶e pseudo-element jest za innymi treciami */
    background-repeat: repeat;
}
.decrease-brightness{
    filter: brightness(20%);     

}

/*Collapse navbar section*/
.side-navbar-collapse{
    display: flex;
    position: fixed;
    right: 0px;
    z-index: 2;
}
.collapse-arrow > img{
    transform: rotate(90deg);
    right: -40px;
    z-index: 2;
    height: 40px;
}
.collapse-arrow{
    opacity: 0.5;
}
.collapse-arrow-white {
    filter: invert(100%); /* Zmiana koloru na biay */
}

@keyframes moveLeft{
    16.66% {
        transform: translateX(0px); 
    }
    33.33% {
        transform: translateX(-5px); 
    }
    50% {
        transform: translateX(0px); 
    }
    66.6% {
        transform:  translateX(0px); 
    }
    83.3% {
        transform:  translateX(-5px); 
    }
    100% {
        transform: translateX(0px); 
    }
}

.sidebar-animation-class{
    animation: moveLeft 8s infinite;
}


.collapse-navbar{
    display: none;
}
.side-navbar-content{
    flex-direction: column;
    width:200px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    padding-left: 20px;
    gap:10px;
}
.side-navbar-content a{
    font-family: Poppins;
   font-weight: 700;
   font-size:1em;
   transition: font-size 0.3s ease;
   display: block;
   margin-bottom: 10px;
}

.animation-class{
    animation: moveDown 4s ease-in-out;
}



.hamburger {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #cccccc; /* Ramka wok贸 przycisku */
    border-radius: 5px; /* Zaokrglone rogi */
    background-color: black;
    height:90%;
    visibility: hidden;
    grid-column-start: 2;
    grid-row-start: 1;
    margin:auto;
    z-index: 1;
}

/* Ka偶da linia w przycisku */
.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #ffffff; /* Kolor linii */
    margin: 5px 0; /* Odstpy midzy liniami */
}

/* Opcjonalnie: Efekt po najechaniu */
.my-navbar{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    margin-top: auto;
    gap:20px;
    padding-left: 10px;
    align-items: center;
    z-index:1;
}

.my-navbar-expanded{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    display:grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: 1fr auto;
    padding-left: 10px;
}


.navbar-elements-expanded{
    margin-top: 10px;
    visibility: visible;
    grid-row-start: 2;
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    gap:5px;
}


.navbar-elements{
    display: flex;
    gap:30px;
    align-content: center;
    align-items: center;
}
.navbar-elements > a, .navbar-elements-expanded > a {
   font-family: Poppins;
   font-weight: 700;
   font-size:1em;
   transition: font-size 0.3s ease;
}
.navbar-elements > svg, .navbar-elements-expanded > svg {
    transition: height 0.3s ease;
 }
.navbar-elements  svg:hover, .navbar-elements-expanded  svg:hover {
    height: 50px;
 }

.navbar-elements > a:hover, .navbar-elements-expanded > a:hover{
    font-size: 1.2rem;
}
.active-navbar-link{
    color:#ff0000;
}
#octopus-navbar-logo{
    width: 100px;
}



/* O nas */


#o-nas-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr ;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    z-index: 1;
    padding-bottom:20px;
    height: fit-content; 
    
  
  }
  @media (min-width:120px) {
   #o-nas-section{
       grid-template-rows: 100px 500px;
   }
}
  @media (min-width:1300px) {
   #o-nas-section{
       grid-template-rows: 100px 475px;
   }
  }
  @media (min-width:1500px) {
   #o-nas-section{
       grid-template-rows: 100px 450px;
   }
  }
  @media (min-width:1650px) {
   #o-nas-section{
       grid-template-rows: 100px 425px;
   }
  }
  @media (min-width:1900px) {
   #o-nas-section{
       grid-template-rows: 100px 400px;
   }
  }
  @media (min-width:2300px) {
   #o-nas-section{
       grid-template-rows: 100px 350px;
   }
   #trapezoid{
    height: 100%;
   }
   #trapezoid img{
    height: 100%;
   }
  }
  @media (min-width:3000px) {
   #o-nas-section{
       grid-template-rows: 100px 300px;
   }

  }

#o-nas-intro{
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
}

#o-nas-intro-heading {
    grid-row-start: 2;
    padding-left: 20px;
    padding-top:10px;
}
#o-nas-intro-heading h1{
    font-family: "Poppins", sans-serif;
    font-size:50px;
    color:#343439;
    font-weight: 700;
}

#o-nas-intro-paragraph {
    grid-row-start: 3;
    padding: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#o-nas-intro-paragraph p {
    font-family: "Poppins";
    line-height: 1.5;
    font-size: 1.3rem;
}

#o-nas-intro-paragraph img{
    width:60%;
    align-self: center;
}

#o-nas-intro-right{
    grid-row-start: 1;
    grid-row-end: 3;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
#trapezoid {
   justify-self: center;
   align-self: center;
   height: 60%;
}
#trapezoid img{
    height: 100%;
}
#o-nas-intro-right-text{
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#o-nas-intro-right-text h2{
    font-family: "Poppins";
    line-height: 1.8;
    font-size:1.5rem;
    color:#545454
}


/* Nasze zajecia section */

#nasze-zajecia-section{
   padding-bottom: 50px; 
}
.new-section-intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top:50px;
    margin-bottom: 2px;
}
.new-section-intro h1{
    font-size: 40px;
    font-family: "Poppins", sans-serif;;
    font-weight: 700;
}
.new-section-intro p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding:0px 10px 0px 10px;
    font-size: 1.5rem;
}

#photo-boxes{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:20px;
    z-index: -1;
}


.box{
    display: flex;
    flex-direction: column;
}
.box-text h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.box-text{
    text-align: center;
}
.box-content{
    width:60%;
    aspect-ratio: 1 / 1;
    margin: auto;
    background-size: 100%;
    z-index: 1;
    border-style: solid;
    border-width: 5px;
    border-color:black;
    border-radius: 4px;
    display: flex;
    background-blend-mode: darken;      /* Tryb mieszania ta */
    transition: background-color 0.3s ease; /* Pynne przejcie przyciemnienia */
    padding:5px;

    
}
.box-content:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sport-description{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;

}
.sport-description p{
    font-family: "Poppins";
    color:white;
    font-size: 1.2rem;
    z-index: 2;
}


/* Grafik Zajec */

.grafik-div-img{
    width: 100%;
    display: flex;
}
.grafik-div-img img{
    margin: auto;
    width: 70%;
    height: auto;
    border-radius: 10%;

}













/* Kadra section */

.choose-coach{
    z-index: 2;
    display: flex;
    color:white;
    gap:25px;
    justify-content: space-between;
    font-family: "Poppins";
    background-color: black;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    flex-wrap: wrap;
}
.choose-coach p{
    z-index: 2;  
    cursor: pointer;
}
.collapse-icon{
    justify-self: center;
    display: none;
}


.coach-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auto;
    padding: 20px;
    background-image: url('./images/tlo-strona-glowna.jpg');
    background-size: cover; /* Dopasowanie ta */
    background-position: center center;
    z-index: 1; /* Element g贸wny z treci */
}

.coach-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Ciemno ta */
    z-index: -1; /* Pseudo-element bdzie za treci, ale przed obrazem */
}



.coach-box-left {
    flex: 1;
    color: white; /* Dostosuj wedug wasnych potrzeb */
}

.coach-box-left h2 {
    font-size: 2rem; /* Dostosuj wielko czcionki */
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Poppins";
}

.coach-box-left p {
    font-size: 1.2rem; /* Dostosuj wielko czcionki */
    line-height: 1.6;
    font-family: "Poppins";
}

.coach-box-right {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coach-box-right img {
    width: 60%; /* Dostosuj wielko obrazu */
    object-fit: cover; /* Dopasowanie obrazu wewntrz okrgego kontenera */
    object-fit: contain;
}

.box-with-arrows{
    display: flex;
    background-color: black;
    flex-wrap: nowrap;
}
@keyframes moveDown{
    16.66% {
        transform: rotate(180deg) translateY(0px); 
    }
    33.33% {
        transform: rotate(180deg) translateY(-5px); 
    }
    50% {
        transform: rotate(180deg) translateY(0px); 
    }
    66.6% {
        transform: rotate(180deg) translateY(0px); 
    }
    83.3% {
        transform: rotate(180deg) translateY(-5px); 
    }
    100% {
        transform: rotate(180deg) translateY(0px); 
    }
}
.on-scroll-collapse-icon{
    animation: moveDown 4s ease-in-out;
}
.footer-div{
    padding-top: 50px;
    background-color: black;
}
.footer-anchor-elements{
    display: flex;
    justify-content: center;
    gap:50px;
}


/* SEKCJA KARNETY */

#karnety-section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap:50px;
}


.table-intro {
    padding-left: 10px;
}
.table-intro h1 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #212529; /* Ciemnoszary tekst */
    text-align: center;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #333333; /* Ciemnoszary obramowanie */
}

.table-header {
    background-color: #333333; /* Ciemnoszary nag贸wek */
    color: #ffffff; /* Biay tekst */
}

.table-body {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 3px solid #F5F5F5; /* Jasnoszare linie oddzielajce wiersze */
    background-color: #FFFFFF; /* Biae to wierszy */
    color: #333333; /* Ciemnoszary tekst */
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
}

.table-row:nth-child(odd) {
    background-color: #F5F5F5; /* Jasnoszare to dla nieparzystych wierszy */
}

.table-header .table-row {
    font-weight: bold;
}

.last-cell {
    border-bottom: 0px;
}

.table-cell {
    flex: 1;
    text-align: left;
}

.table-cell:first-child {
    padding-left: 10px;
}

.table-cell:last-child {
    text-align: right;
    padding-right: 20px;
}

.table-row:hover {
    background-color: #E0E0E0; /* Efekt hover - jasnoszary */
}
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    gap: 10px;
    margin-top: 4%;

}

.subs-card {
    width: 15%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: transparent;
    transition: width 0.3s ease;
    
}
.subs-card:hover {
    width: 20%;    
}


/* Ustawienie rotacji dla ka偶dej karty */
.medicover {
    transform: rotate(45deg);
}

.fitprofit {
    transform: rotate(45deg);
}

.multisport-plus {
    transform: rotate(45deg);
}


/* KONTAKT SECTION */
#kontakt-section{
    margin-top: 100px;

}
.contact-column{
    width: 23%;
}  
.contact-forms{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: auto; /* Zachowanie proporcji wysokoci */
    padding-top:20px;

}
.contact-forms svg{
    width:10%;
}

.contact-column p{
    text-decoration: underline;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.2rem;
}
  
#subscribe-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#subscribe-div svg{
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
}





/*Ogloszenia section */
#ogloszenia-section {
    display: flex;
    justify-content: center; /* Wyrodkowanie pudeka ogosze */
    align-items: center;
    padding: 40px;
}

#announcement-content {
    background-color: #ffffff; /* Biae to dla pudeka */
    border: 2px solid #e0e0e0; /* Delikatna szara ramka */
    border-radius: 10px; /* Zaokrglone rogi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtelny cie dla gbi */
    padding: 2px;
    max-width: 900px; /* Maksymalna szeroko dla pudeka */
    width: 100%;
    text-align: center; /* Tekst wyrodkowany */
}

#announcement-content p {
    font-size: 1.2rem; /* Wikszy rozmiar czcionki */
    color: #333333; /* Kolor tekstu */
    margin: 0; /* Usunicie domylnego marginesu */
    padding: 2px 0; /* Dodanie odstpu wok贸 tekstu */
    font-family: "Poppins";
}

#announcement-content p::before {
    content: " "; /* Ikona ogosze przed tekstem */
    font-size: 24px;
}









@media(max-width:1600px){
    .collapse-icon{
        display: block;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    .choose-coach{
        flex-direction: column;
    }
    .choose-coach p{
        display: none;
    }
    .contact-forms{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap:20px;
    }
    .contact-column{
        width: 100%;
    }
 
}



@media(max-width:1200px){



    .logos-div > img {
        max-width: 350px;
    }

    .anchor-elements-div {
        gap: 30px; 
        justify-content: center;
        flex-wrap: wrap;
    }

    .anchor-elements-div > a {
        font-size: 2.5rem; 
    }
    #trapezoid img{
        visibility: none;
    }
    #o-nas-section{
        background-image: url("./images/background-phones.png");
        display: flex;
        flex-direction: column;
        height: auto;
        background-size: 60%;

    }
    #trapezoid{
        display: none;
    }
    
    #o-nas-intro-right-text h2{
        font-family: "Poppins";
        line-height: 1.8;
        font-size:1.2rem;
        color:#343439;
    }
    #photo-boxes{
        grid-template-columns: 1fr 1fr;
    }
    .coach-box {
        flex-direction: column;
    }
    .coach-box-right {
        justify-content: center;
    }
    .coach-box-right img {
        width: 60%; 
    }
    .grafik-div-img img{
        width: 90%;
       
    
    }
    .price-box {
        width: 40%; 
    }
    .price-box h2 {
        font-size: 1.2rem;
    }
    .subs-card {
        width:25%;
    }
    .subs-card:hover {
        width: 25%;
    }
    .cards{
        margin-top: 10%;
    }
    .hamburger{
        margin-right:30px;
        visibility: visible;
    }
    .navbar-elements{
        display: none;
        grid-row-start: 2;
    }
    #subscribe-div svg{
        height: 32px;
    }
    
   

}

@media(max-width:700px){
    
    .side-navbar{
       top: 30px; /* Wyrodkowanie w pionie */
    }
    .side-navbar img{
        transform: rotate(90deg);
        height:70px;
        opacity: 0.2;
    }

    body {
        font-size: 1.2rem;
    }
    .logos-div{
        flex-direction: column;
        justify-content: space-evenly;
        gap:50px;
    }
   
    #on-load-page img {
        object-fit: contain;
        opacity: 0;
        align-self: center;
        max-width: 300px;
    }
    .anchor-elements-div > a {
        font-size: 1.5rem; /* Zmniejsz rozmiar czcionki link贸w */
    }
    .anchor-elements-div{
        margin:0px 30px 0px 30px;
    }
    #on-load-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap:50px;
    }
    .oct-logo{
        padding-bottom: 0px;
    }
    #on-load-page::before {
        background-position: bottom 50px left -300px;   
     }
  
 
    #octopus-navbar-logo{
        width:60px;
    }
     #o-nas-section{
       height: fit-content;
       background-size: 100%;
       background-position: center;

     }
     #o-nas-intro-heading h1{
        font-size: 1.5rem;
     }
     #o-nas-intro-paragraph{
        padding-bottom: 0px;
        margin-bottom: 0px;
     }
     #o-nas-intro-paragraph p{
        font-size:1rem;
     }
     .subs-card {
        width:25%;
    }
    .subs-card:hover {
        width: 25%;
    }
     #photo-boxes{
        grid-template-columns: 1fr;
    }
    .coach-box-left h2 {
        font-size: 2rem; /* Dostosuj wielko czcionki */
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .coach-box-left p {
        font-size: 1.1rem; /* Dostosuj wielko czcionki */
        line-height: 1.4;
    }
    .coach-box-right img {
        width: 90%; /* Dostosuj wielko obrazu */
    }
    .coach-box-left h2 {
        margin-bottom: 10px;
        font-size: 1rem;
    }
    .new-section-intro p{
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        padding:0px 10px 0px 10px;
        font-size: 1.5rem;
    }
    .new-section-intro h1{
        font-size: 2rem;
    }
    .grafik-div-img img{
        width: 95%;
    }
    .box-content{
        width:70%;           
    }
    .contact-forms{
        display: flex;
       flex-direction: column;
    }
    .contact-forms svg{
       width: 10%;
    }
    .contact-forms p{
        font-size: 1rem;
     }
}



    